.hero {
	width: 100%;
	height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	color: var(--on-primary);
	position: relative;
	align-items: center;
	justify-content: center;
	background-size: 200%;
	animation: presentation 3s linear forwards;
	padding: 0 2.2rem;
	margin-top: 8rem;
	z-index: 1;
	isolation: isolate;
}

.hero::after {
	content: '';
	position: absolute;
	height: 6rem;
	width: 100%;
	background: linear-gradient(0deg, var(--primary-0), #0000);
	bottom: 0;
}

.hero .hero__img {
	width: 100%;
	max-width: 32rem;
	border-radius: 50%;
	height: auto;
}

.hero .hero__container {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	width: 100%;
	max-width: var(--max-width);
	gap: 6rem;
	padding-top: 2rem;
	margin: 0 auto;
	align-items: center;
}

.hero .hero__text {
	font-size: var(--text-xx-large);
}

.hero__container .text__content {
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
	position: relative;
	z-index: 5;
	align-items: flex-start;
}

.hero__container .text__content .hero__title {
	font-size: var(--text-xxx-large);
	line-height: var(--text-xxx-large);
}

.hero__container .hero__title p {
	font-size: var(--text-x-large);
	font-weight: normal;
	color: var(--primary-90);
	max-width: 80%;
}

@media screen and (max-width: 768px) {
	.hero {
		padding: 0 2rem;
		min-height: auto;
		margin-top: 10rem;
	}
	.hero .hero__img {
		max-width: 24rem;
		margin: 0 auto;
		margin-top: 2rem;
	}
	.hero .hero__container {
		padding-top: 2rem;
		display: flex;
		flex-direction: column-reverse;
		gap: 4rem;
		text-align: center;
	}
	.hero .text__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding-bottom: 4rem;
	}
	.roles {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

@keyframes presentation {
	0% {
		background-size: 200%;
	}
	50% {
		background-position: 70%;
	}
	100% {
		background-size: 100%;
	}
}

.hero .image-wrapper {
	position: relative;
	z-index: 1;
}

.roles {
	display: flex;
	gap: 1rem;
	align-items: center;
	color: var(--primary-80);
	font-size: 1.8rem;
	margin-bottom: 3rem;
	flex-wrap: wrap;
	justify-content: flex-start;
}
